/*------------------------------------*\
RESET
\*------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0b1 | 201101 
NOTE:WORK IN PROGRESS
USE WITH CAUTION AND TEST WITH ABANDON */
* {
  box-sizing: border-box;
  font-family: 'Roboto', 'Arial', 'sans-serif';
  font-weight: 500;
  line-height: 2.4rem;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 62.5%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: ’’;
  content: none;
}
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Your Code Goes Here */
body {
  max-width: 880px;
  margin: 0 auto;
}
.home {
  border: 1px solid black;
}
header {
  display: flex;
  justify-content: space-between;
  background-color: #979CA1;
  color: white;
  padding: 2%;
}
header p {
  font-weight: bold;
  font-size: 1.8rem;
}
header .logo {
  font-weight: bold;
  font-size: 2.4rem;
}
.intro {
  height: 598px;
  background-image: url(../img/home/home-jumbotron.png);
  background-size: cover;
  background-repeat: none;
  position: relative;
}
.intro .intro-content {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 2%;
}
.intro .intro-content h1 {
  font-size: 3.5rem;
  font-weight: bold;
  color: white;
}
.learn-top {
  margin-top: 4%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.learn-top .content {
  width: 410px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.learn-top .content h3 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 4%;
}
.learn-top .content p {
  margin-bottom: 4%;
}
.learn-top .content button {
  background: white;
  border: 1px solid black;
  width: 8rem;
}
