.nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #979CA1;
    padding: 2%;
    color: white;

    h2 {
        font-weight: bold;
        font-size: 1.8rem;
    }

    a {
        color: white;
    }

    nav {
        display: none;
    }

    .nav-btn {
        width: 3.2rem;
        height: 2.1rem;
        background-image: url('./../img/nav-hamburger.png');
        background-repeat: none;
        background-size: cover;
    }
}